/* 
base styles
*/

html {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
}

body {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

p,
li {
    color: #969FAD;
}

ul {
    list-style: none;
}

li {
    border-radius: 35px;
    background-color: #262E38;
    padding: 1rem;
}

h1 {
    color: white;
}

button {
    background-color: #FC7614;
    width: 80%;
    border-radius: 25px;
    padding: 1rem;
    box-shadow: none;
    border: none;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.container-rate-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: #131518;
    width: 80%;
}

footer {
    width: 100%;
    color: #969FAD;
}

footer a {
    color: #969FAD;
}